<header>
  <nav>
    <div class="logo">
      <a href="#">
        <img src="assets/LogoBlanc17R.svg" alt="Logo" />
      </a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="" (click)="compte()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-person-vcard" viewBox="0 0 16 16">
              <path
                d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
              <path
                d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
            </svg>
          </a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="mainArea">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">{{title}}</h1>

        <div class="field">
          <label>Longueur du mot de passe</label>
          <input class="input" min="0" max="255" type="number" inputmode="numeric"
            (change)="lengthPassword($any($event.target).value)" />
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="upperLetters()" type="checkbox" />
              Inclure des lettres majuscules
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="lowerLetters()" type="checkbox" />
              Inclure des lettres minuscules
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="numbers()" type="checkbox" />
              Inclure des chiffres
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="specialCharacters()" type="checkbox" />
              Inclure des caractères spéciaux
            </label>
          </div>
        </div>

        <!-- <div class="field">
          <label>Nombre de mot de passe à générer</label>
          <input type="number">
        </div> -->

        <div class="field">
          <button
            [disabled]="!(length && (includeLowercaseLetters || includeUppercaseLetters || includeNumbers || includeSpecialCharacters))"
            (click)="buttonClick()" class="button is-link is-fullwidth">Générer un mot de passe</button>
        </div>

        @if(password){
        <div class="box">
          <label class="label">Mot de passe généré</label>
          <div class="input-container">
            <input class="input" [value]="password" />
            <button (click)="copyToClipboard()" class="copy-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path
                  d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
              </svg>
            </button>
          </div>
        </div>
        }

      </div>
    </div>
  </div>
</div>

<footer>
  <p>© 2024 - Tous droits réservés</p>
</footer>

<!-- <script>
  function compte() {
    alert('Prochainement disponible');
    console.log('Prochainement disponible');
    console.log('Pour l\'instant, vous pouvez générer un mot de passe');
  }
</script> -->